fieldset.scheduler-border {
    border: 1px dashed #3C8DBC !important;
    padding: 0 1.3em !important;
    margin: 55px !important;
}

legend.scheduler-border {
    text-align: left !important;
    width: auto;
    padding: 2px 10px;
    border-bottom: none;
    font-size: 15px;
    color: #3C8DBC;
}
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial !important;
    background-color:white !important;
}
#legend {
    margin-bottom: 2px;
}
.centmodel {
    top: 40% !important;
    transform: translateY(-50%) !important;
}
.widthmodel {
    width: 30%
}
.btn-group-sm > .btn, .btn-sm {
    border-width: 0px;
    border-radius: 3px !important;
}
.modal-footer {
    background-color: #fff !important;
    border-top: 0px solid #e5e5e5 !important
}
#addarticle {
    top: 17px;
    right: 59px;
    border: 0px;
}
.field-validation-error {
    color: red;
    font-weight: bold;
}

.form-control.input-validation-error {
    border: 1px solid red;
}